@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	font-family: "Alegreya Sans", sans-serif;
	overflow: hidden;
	overflow: hidden;
	@apply dark:bg-dark dark:text-dtext;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease-out;
	z-index: 9999;
}

.loader.hidden {
	opacity: 0;
	visibility: hidden;
}

.main-content {
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.main-content.visible {
	opacity: 1;
}

.text-grad {
	/* Gradient */
	background-image: linear-gradient(to top right, #145869, #30708e, #44218b, #30708e, #145869);

	/* Text clipping */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* SVG LOADER */
#svg {
	width: 200px;
	height: 200px;
	stroke: rgb(1, 255, 255);
	filter: drop-shadow(0 0 2px #00ffcc) drop-shadow(0 0 5px #00ffff);
	fill-opacity: 1;
	stroke-width: 4px;
	stroke-dasharray: 4500;
	stroke-dashoffset: 0;
	animation: dash 4s linear infinite;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 4500;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

/* NAV */
.nav-line {
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		left: 0;

		transform: translate(-100%);
	}
	100% {
		left: 100%;
		transform: translate(0%);
	}
}

/* SOCIAL ICONS */
.social-icon {
	@apply md:text-xl xs:text-lg;
}

.social-icon:hover {
	@apply scale-105;
	filter: drop-shadow(0 0 5px #00ccff);
}

body {
	--sb-track-color: #0b0d0e;
	--sb-thumb-color: #5387a1;
	--sb-size: 11px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}
